
# Ignore specific file extensions anywhere in the tree

*.dbp
*.dll
*.exe
*.exe.config
*.g.resources
*.in
*.log
*.nupkg
*.pdb
*.resources
*.suo

# Ignore specific folders anywhere in the tree

**/obj
**/bin

# Ignore specific folders

Documentation/Web Help
