# CodeGen Build Pipeline
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

# Use CI, run the pipeline on each commit to the master branch
#trigger:
#- master

# Opt out of CI, run the pipeline manually
trigger: none

jobs:
- job: CodeGenBuild
  timeoutInMinutes: 10

  pool:
   name: 'CodeGen Pool'
   demands:
    - SYNERGYDE32
    - SYNERGYDE64
    - SDI
    - WIX

  variables:
  - group: Secure
  - name: currentVersion
    value: '6.1.3'
  - name: buildPlatform
    value: 'Any CPU'
  - name: buildConfiguration
    value: 'Deploy'

  steps:
  - task: NuGetToolInstaller@1
    displayName: 'Get NuGet tool'

  - task: NuGetCommand@2
    displayName: 'Restore NuGet packages'
    inputs:
      restoreSolution: '**/*.sln'

  - task: BatchScript@1
    displayName: 'Configure SDE environment'
    inputs:
      filename: '$(SYNERGYDE32)\dbl\dblvars32.bat'
      arguments: 
      modifyEnvironment: true

  - task: VSBuild@1
    displayName: 'Build CodeGen solution and installer'
    inputs:
      solution: 'CodeGen.sln'
      platform: '$(buildPlatform)'
      configuration: '$(buildConfiguration)'
      vsVersion: "17.0"

  - task: VSBuild@1
    displayName: 'Build CodeGenCore solution'
    inputs:
      solution: 'DotNetCore/CodeGenCore.sln'
      platform: '$(buildPlatform)'
      configuration: '$(buildConfiguration)'
      vsVersion: "17.0"

  - task: VSTest@2
    displayName: 'Run unit tests'
    inputs:
      platform: '$(buildPlatform)'
      configuration: '$(buildConfiguration)'

  - task: CmdLine@2
    displayName: 'Sign MSI file'
    inputs:
      script: 'signfile.bat bin\release\CodeGen_$(currentVersion).msi "$(SigDrive)" "$(SigPass)" "CodeGen" "$(AzureAppId)" "$(AzureDirId)"'

  - task: PublishBuildArtifacts@1
    displayName: 'Save MSI file as artifact'
    inputs:
      pathToPublish: 'bin\release\CodeGen_$(currentVersion).msi' 
      artifactName: 'CodeGen-Installer' 

  - script: |
      nuget pack RepositoryAPI.nuspec -Version $(currentVersion)
    displayName: 'Make RepositoryAPI package'

  - task: PublishBuildArtifacts@1
    displayName: 'Save NuGet package as artifact'
    inputs:
      pathToPublish: 'RepositoryAPI.$(currentVersion).nupkg' 
      artifactName: 'RepositoryAPI-Package' 
