<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RpsBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RpsBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <RpsBrowser.Properties.Settings>
      <setting name="StartMaximized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartCentered" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ToolbarVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StatusBarVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CurrentProfile" serializeAs="String">
        <value>Name</value>
      </setting>
    </RpsBrowser.Properties.Settings>
  </userSettings>
</configuration>