<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Symphony.Orchestrator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Symphony.Orchestrator.Settings>
            <setting name="Template_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="VerboseDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCommandLineInterface" serializeAs="String">
                <value>False</value>
            </setting>
        </Symphony.Orchestrator.Settings>
    </userSettings>
</configuration>
