<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blend.Interctivity.WPF.v4.0" version="1.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="SymphonyFramework" version="3.2.11" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.4.1" targetFramework="net452" />
</packages>