<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    
    <ComponentGroup Id="SymphonyTemplates">

      <ComponentRef Id="EnvVar_SYMPHONYTPL"/>
      
      <ComponentRef Id="Registry_SymphonyTemplatePath"/>
      
      <ComponentRef Id="Symphony_AsXML.tpl" />
      <ComponentRef Id="Symphony_BLListViewModel.tpl" />
      <ComponentRef Id="Symphony_Collection.tpl" />
      <ComponentRef Id="Symphony_CollectionFromFile.tpl" />
      <ComponentRef Id="Symphony_CollectionFromFileWithMethods.tpl" />
      <ComponentRef Id="Symphony_CollectionWithMethods.tpl" />
      <ComponentRef Id="Symphony_Content.tpl" />
      <ComponentRef Id="Symphony_CriteriaView.tpl" />
      <ComponentRef Id="Symphony_CriteriaView_code.tpl" />
      <ComponentRef Id="Symphony_CriteriaView_WithGrid.tpl" />
      <ComponentRef Id="Symphony_CRUDAppLogic.tpl" />
      <ComponentRef Id="Symphony_CRUDMainView.tpl" />
      <ComponentRef Id="Symphony_CRUDMainView_code.tpl" />
      <ComponentRef Id="Symphony_CRUDMainWindow.tpl" />
      <ComponentRef Id="Symphony_CRUDMainWindow_code.tpl" />
      <ComponentRef Id="Symphony_CRUDViewModel.tpl" />
      <ComponentRef Id="Symphony_data.tpl" />
      <ComponentRef Id="Symphony_DataCLR.tpl" />
      <ComponentRef Id="Symphony_DataCLRType.tpl" />
      <ComponentRef Id="Symphony_DataDefineRPS.tpl" />
      <ComponentRef Id="Symphony_DataFieldMapper.tpl" />
      <ComponentRef Id="Symphony_DataNoExcel.tpl" />
      <ComponentRef Id="Symphony_DataSerializable.tpl" />
      <ComponentRef Id="Symphony_DataSerializableClient.tpl" />
      <ComponentRef Id="Symphony_DataSerializer.tpl" />
      <ComponentRef Id="Symphony_DataValidator.tpl" />
      <ComponentRef Id="Symphony_DataView.tpl" />
      <ComponentRef Id="Symphony_DataView_code.tpl" />
      <ComponentRef Id="Symphony_DataView_WithGrid.tpl" />
      <ComponentRef Id="Symphony_DevPartnerView.tpl" />
      <ComponentRef Id="Symphony_DOCache.tpl" />
      <ComponentRef Id="Symphony_FileIO.tpl" />
      <ComponentRef Id="Symphony_KeyView.tpl" />
      <ComponentRef Id="Symphony_KeyView_code.tpl" />
      <ComponentRef Id="Symphony_ListView.tpl" />
      <ComponentRef Id="Symphony_ListViewModel.tpl" />
      <ComponentRef Id="Symphony_ListView_code.tpl" />
      <ComponentRef Id="Symphony_LookupView.tpl" />
      <ComponentRef Id="Symphony_LookupView_code.tpl" />
      <ComponentRef Id="Symphony_MaintViewModel.tpl" />
      <ComponentRef Id="Symphony_Select.tpl" />
      <ComponentRef Id="Symphony_Style.tpl" />
      <ComponentRef Id="Symphony_StyleGrid.tpl" />
      <ComponentRef Id="Symphony_Visibility.tpl" />

    </ComponentGroup>

	</Fragment>
</Wix>