<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <ComponentGroup Id="SymphonyOrchestrator">

      <ComponentRef Id="$(var.SymphonyOrchestrator.TargetFileName)" />
      <ComponentRef Id="$(var.SymphonyOrchestratorLibrary.TargetFileName)" />
      <ComponentRef Id="SymphonyOrchestrator.ico" />
      <ComponentRef Id="symphonyAdapter" />
      <ComponentRef Id="symphonyConductor" />
      <ComponentRef Id="symphonyConductorWPF" />
      <ComponentRef Id="symphonyCore" />
      <ComponentRef Id="symphonyCrescendo" />
      <ComponentRef Id="symphonyHarmony" />
      <ComponentRef Id="systemWindowsInteractivity" />
      <ComponentRef Id="Orchestrator_Shortcuts" />
      <ComponentRef Id="Orchestrator.File.Association" />

    </ComponentGroup>

  </Fragment>
</Wix>