h1 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 18pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
h2 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
h3 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 14pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
h4 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
h5 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
h6 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 8pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
table.align-c {
  margin: 0 auto;
}
table.align-r {
  margin: 0 0 0 auto;
}
img {
  border: none;
}
.float-pos-l {
  float: left;
}
.float-pos-r {
  float: right;
}
pre {
  margin: 0;
}
.ts0 {
  font-family: 'Segoe UI';
  font-size: 18pt;
  font-weight: bold;
  color: White;
}
.ts1 {
  font-family: 'Segoe UI';
  font-size: 14pt;
  font-weight: bold;
}
.ts2 {
  font-family: 'Segoe UI';
}
.ts3 {
  font-family: 'Courier New';
}
.ts4 {
  font-family: 'Courier New';
  font-weight: bold;
}
.ts5 {
  font-family: 'Segoe UI';
  font-weight: bold;
}
.ts6 {
  font-family: 'Segoe UI';
  font-style: italic;
}
.ts7 {
  font-family: 'Segoe UI';
  font-size: 12pt;
}
.ts8 {
  font-family: 'Courier New';
}
.ts9 {
  font-family: 'Segoe UI';
  font-size: 13pt;
  font-weight: bold;
}
.ts10 {
  font-family: 'Segoe UI';
}
.ts11 {
  font-family: 'Courier New';
  font-weight: bold;
  color: Green;
}
.ts12 {
  font-family: 'Courier New';
  color: Red;
}
.ts13 {
  font-family: 'Courier New';
  color: Blue;
}
.ts14 {
  font-family: 'Courier New';
  background-color: Yellow;
}
.ts15 {
  font-family: 'Courier New';
  font-weight: bold;
  color: Green;
  background-color: Yellow;
}
.ts16 {
  font-family: 'Courier New';
  font-weight: bold;
  color: Blue;
}
.ts17 {
  font-family: 'Courier New';
  font-style: italic;
}
.ts18 {
  font-family: 'Courier New';
  font-weight: bold;
  font-style: italic;
  color: Blue;
}
.ts19 {
  font-family: Consolas;
  color: Black;
}
.ts20 {
  font-family: Consolas;
  color: #2e75b6;
}
.ts21 {
  font-family: Consolas;
  color: #a31515;
}
.ts22 {
  font-family: 'Segoe UI';
}
.ts23 {
  font-family: 'Courier New';
}
.ts24 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts25 {
  font-family: 'Courier New';
  font-style: italic;
  color: #c00000;
}
.ts26 {
  font-family: 'Segoe UI';
  font-style: italic;
  color: #c00000;
}
.ts27 {
  font-family: 'Segoe UI';
  font-size: 14pt;
}
.ts28 {
  font-family: 'Courier New';
  font-weight: bold;
  color: #00b050;
}
.ts29 {
  font-family: 'Courier New';
  font-weight: bold;
  color: #c00000;
}
.ts30 {
  font-family: 'Courier New';
  font-weight: bold;
  color: #0070c0;
}
.ts31 {
  font-family: 'Segoe UI';
  font-size: 18pt;
  font-weight: bold;
}
.ts32 {
  font-family: 'Courier New';
  color: #00b050;
}
.ts33 {
  font-family: Consolas;
}
.ts34 {
  font-weight: bold;
}
.ts35 {
  font-family: 'Segoe UI';
  font-weight: bold;
  font-style: italic;
}
.ts36 {
  font-family: Consolas;
}
.ts37 {
  font-family: Consolas;
  color: Blue;
}
.ts38 {
  font-family: Consolas;
  color: Black;
}
.ts39 {
  font-family: Consolas;
  color: Green;
}
.ts40 {
  font-family: Consolas;
  color: #2b91af;
}
.ts41 {
  font-family: Consolas;
  font-weight: bold;
  color: #080;
}
.ts42 {
  font-family: Consolas;
  color: #a31515;
}
.ts43 {
  font-family: Consolas;
}
.ts44 {
  font-family: 'Courier New';
  color: Green;
}
.ts45 {
  font-family: Consolas;
  color: Blue;
}
.ts46 {
  font-family: Consolas;
}
.ts47 {
  font-family: Consolas;
  color: #00b0f0;
}
.ts48 {
  font-family: Consolas;
  font-weight: bold;
  color: #00b050;
}
.ts49 {
  font-family: Consolas;
  color: #2b91af;
}
.ts50 {
  font-family: Consolas;
  font-weight: bold;
  color: #080;
}
.hs0 {
  font-family: 'Courier New';
  text-decoration: none;
  color: Blue;
}

.hs1 {
  font-family: 'Courier New';
  text-decoration: none;
  color: Blue;
}
a.hs1:hover {
  color: Red;
}
.hs2 {
  font-family: 'Courier New';
  font-style: italic;
  text-decoration: none;
  color: Blue;
}
a.hs2:hover {
  font-style: normal;
}
.hs3 {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: Blue;
}
a.hs3:hover {
  font-family: 'Courier New';
}
.hs4 {
  font-family: 'Segoe UI';
  font-size: 12pt;
  text-decoration: none;
  color: Blue;
}
a.hs4:hover {
  font-family: 'Courier New';
}
.hs5 {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: Blue;
}
a.hs5:hover {
  font-family: 'Courier New';
  color: Red;
}
.hs6 {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: Black;
}
a.hs6:hover {
  font-family: 'Courier New';
  color: Red;
}
.hs7 {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: Black;
}
a.hs7:hover {
  font-family: 'Courier New';
  color: Blue;
}
.hs8 {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: Blue;
}
.hs9 {
  font-family: 'Courier New';
  text-decoration: none;
  color: Blue;
}
.hs10 {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: Black;
}
.hs11 {
  font-family: Consolas;
  font-weight: bold;
  text-decoration: none;
  color: #00b050;
}
a.hs11:hover {
  font-family: 'Courier New';
  font-size: 12pt;
  font-weight: normal;
  color: Blue;
}
.hd0 {
  font-size: 12pt;
}
.hd1 {
  padding-bottom: 0.2in;
  font-size: 12pt;
}
.ps0 {
  padding-bottom: 0.2in;
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
}
.ps1 {
  padding-bottom: 0.2in;
}
.ps2 {
  padding-bottom: 0.2in;
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
  font-size: 10pt;
}
.ps3 {
  padding-bottom: 0.2in;
  padding-left: 1.01666666666667in;
  text-indent: -0.251968503937008in;
}
.ps4 {
  padding-bottom: 0.2in;
  padding-left: 1.02083333333333in;
  text-indent: -0.251968503937008in;
}
.ps5 {
  padding-bottom: 0.2in;
  padding-left: 0.510416666666667in;
}
.ps6 {
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
}
.ps7 {
  padding-bottom: 0.1in;
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
}
.ps8 {
  font-size: 8pt;
}
.ps9 {
  padding-bottom: 0.2in;
  padding-left: 0.51in;
}
.ps10 {
  padding-bottom: 0.2in;
  padding-left: 1.02in;
}
.ps11 {
  padding-left: 1.02in;
}
.ps12 {
  padding-left: 0.51in;
}
.ps13 {
  font-size: 10pt;
}
.ps14 {
  padding-bottom: 0.2in;
  font-size: 11pt;
}
.ps15 {
  padding-bottom: 0.1in;
}
.ps16 {
  padding-top: 0.07in;
  padding-bottom: 0.07in;
}
.ps17 {
  padding-left: 0.509433962264151in;
}
.ps18 {
  padding-bottom: 0.1in;
  padding-left: 0.509433962264151in;
}
.ps19 {
  padding-left: 1.53in;
}
.ps20 {
  padding-left: 2.04in;
}
.block0 {
  padding: 0 0 0.2in 0;
}
.block1 {
  padding: 0 0 0.2in 1.02083333333333in;
}
.block2 {
  padding: 0 0 0.1in 0;
}
.hline0 {
  width: 100%;
  height: 0px;
  margin: 8px auto;
  border-style: solid;
  border-width: 1px;
  border-top-color: DimGray;
  border-right-color: #e3e3e3;
  border-bottom-color: #e3e3e3;
  border-left-color: DimGray;
}
.hline1 {
  width: 100%;
  height: 1px;
  margin: 8px auto;
  background-color: Silver;
  border-style: none;
}
.tbl0 {
  border-collapse: collapse;
  border-style: none;
}
.tbl0 > tbody > tr.row0 {
  border-style: none;
}
.tbl0 > tbody > tr > td.cell0 {
  width: 2.36458333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell1 {
  width: 5.79166666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell2 {
  width: 2.36458333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell3 {
  width: 5.79166666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell4 {
  width: 0.979166666666667in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell5 {
  width: 2.21875in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell6 {
  width: 618px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell7 {
  width: 0.979166666666667in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell8 {
  width: 2.21875in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell9 {
  width: 618px;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell10 {
  width: 1.5625in;
  height: 0.4375in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell11 {
  width: 4.18in;
  height: 0.44in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell12 {
  width: 499px;
  height: 0.44in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell13 {
  width: 1.56in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell14 {
  width: 4.18in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell15 {
  width: 499px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell16 {
  width: 1.56in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell17 {
  width: 4.18in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell18 {
  width: 499px;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell19 {
  width: 3.46in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell20 {
  width: 1.61in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell21 {
  width: 181px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell22 {
  width: 208px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell23 {
  width: 3.46in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell24 {
  width: 1.61in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell25 {
  width: 181px;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell26 {
  width: 208px;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell27 {
  width: 3.23958333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell28 {
  width: 11.41in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell29 {
  width: 3.23958333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell30 {
  width: 11.41in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell31 {
  width: 3.24in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell32 {
  width: 3.625in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell33 {
  width: 11.02in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell34 {
  width: 3.625in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell35 {
  width: 11.02in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell36 {
  width: 3.62in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell37 {
  width: 3.62in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell38 {
  width: 1.32291666666667in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell39 {
  width: 1.5625in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell40 {
  width: 2.625in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell41 {
  width: 1.32291666666667in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell42 {
  width: 1.5625in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell43 {
  width: 2.625in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell44 {
  width: 7.38541666666667in;
  vertical-align: top;
  padding: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell45 {
  width: 7.39in;
  vertical-align: top;
  padding: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell46 {
  width: 2.85in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell47 {
  width: 10.7916666666667in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell48 {
  width: 2.85in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell49 {
  width: 10.7916666666667in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell50 {
  width: 4.875in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell51 {
  width: 10.95in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell52 {
  width: 4.88in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell53 {
  width: 4.88in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell54 {
  width: 10.95in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell55 {
  width: 2.51in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell56 {
  width: 228px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell57 {
  width: 10.94in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell58 {
  width: 2.51in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell59 {
  width: 228px;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell60 {
  width: 10.94in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell61 {
  width: 2.51in;
  height: 53px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell62 {
  width: 228px;
  height: 53px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell63 {
  width: 10.94in;
  height: 53px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell64 {
  width: 2.52in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell65 {
  width: 271.698113207547px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell66 {
  width: 10.47in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell67 {
  width: 2.52in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell68 {
  width: 271.698113207547px;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell69 {
  width: 10.47in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell70 {
  width: 2.49in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell71 {
  width: 13.34in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell72 {
  width: 2.49in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell73 {
  width: 13.34in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell74 {
  width: 3.13541666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell75 {
  width: 14.81in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell76 {
  width: 3.14in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell77 {
  width: 3.15in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell78 {
  width: 14.8in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell79 {
  width: 346px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell80 {
  width: 11.22in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell81 {
  width: 3.14in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell82 {
  width: 346px;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell83 {
  width: 11.22in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell84 {
  width: 3.12in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell85 {
  width: 11.21in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell86 {
  width: 3.12in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell87 {
  width: 11.21in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell88 {
  width: 3.11in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell89 {
  width: 3.11in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell90 {
  width: 3.1in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell91 {
  width: 14.85in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell92 {
  width: 3.1in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell93 {
  width: 14.85in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell94 {
  width: 2.5in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell95 {
  width: 10.96in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell96 {
  width: 2.5in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell97 {
  width: 10.96in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell98 {
  width: 1.85416666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell99 {
  width: 9.29166666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell100 {
  width: 1.34in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell101 {
  width: 2.26in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell102 {
  width: 9.17in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell103 {
  width: 1.36in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 {
  border-collapse: collapse;
  border-style: none;
}
.tbl1 > tbody > tr.row0 {
  border-style: none;
}
.tbl1 > tbody > tr.row1 {
  height: 20px;
  border-style: none;
}
.tbl1 > tbody > tr > td.cell0 {
  width: 2.18867924528302in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell1 {
  width: 14.3018867924528in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell2 {
  width: 2.19in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell3 {
  width: 14.3in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell4 {
  width: 209.207547169811px;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell5 {
  width: 1.98in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell6 {
  width: 9.88679245283019in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell7 {
  width: 232.754716981132px;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell8 {
  width: 209.207547169811px;
  height: 0.75in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell9 {
  width: 1.9811320754717in;
  height: 0.75in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell10 {
  width: 9.89in;
  height: 0.75in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell11 {
  width: 232.754716981132px;
  height: 0.75in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell12 {
  width: 1.98in;
  height: 0.75in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell13 {
  width: 2.84375in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell14 {
  width: 13.36in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell15 {
  width: 2.84375in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell16 {
  width: 13.36in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell17 {
  width: 2.84in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell18 {
  width: 2.84in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell19 {
  width: 3.55in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell20 {
  width: 14.25in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell21 {
  width: 3.55in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell22 {
  width: 14.25in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell23 {
  width: 3.00943396226415in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell24 {
  width: 15.05in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell25 {
  width: 3.00943396226415in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell26 {
  width: 15.05in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell27 {
  width: 3.01in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell28 {
  width: 3.01in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell29 {
  width: 3.33333333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell30 {
  width: 14.4833333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell31 {
  width: 3.33in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell32 {
  width: 14.48in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell33 {
  width: 3.49056603773585in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell34 {
  width: 11.62in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell35 {
  width: 3.49056603773585in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell36 {
  width: 11.62in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell37 {
  width: 3.49in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell38 {
  width: 3.49in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell39 {
  width: 3.77083333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell40 {
  width: 14.28125in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell41 {
  width: 3.77in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell42 {
  width: 14.28125in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell43 {
  width: 3.77in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell44 {
  width: 14.28in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell45 {
  width: 14.28in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell46 {
  width: 3.21in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell47 {
  width: 7.5in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell48 {
  width: 3.21in;
  height: 27px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell49 {
  width: 7.5in;
  height: 27px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell50 {
  width: 2.77358490566038in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell51 {
  width: 11.75in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell52 {
  width: 2.77in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell53 {
  width: 2.77in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell54 {
  width: 11.75in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell55 {
  width: 11.7547169811321in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell56 {
  width: 3.70833333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell57 {
  width: 14.09in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell58 {
  width: 3.71in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell59 {
  width: 14.09375in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell60 {
  width: 3.71in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell61 {
  width: 14.09in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell62 {
  width: 3.7in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell63 {
  width: 14.1132075471698in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell64 {
  width: 3.7in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell65 {
  width: 14.1132075471698in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell66 {
  width: 14.11in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell67 {
  width: 14.11in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell68 {
  width: 4in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell69 {
  width: 11.42in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell70 {
  width: 4in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell71 {
  width: 11.42in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell72 {
  width: 11.4245283018868in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell73 {
  width: 3.6875in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell74 {
  width: 7.02083333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell75 {
  width: 3.69in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell76 {
  width: 3.07in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell77 {
  width: 12.27in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell78 {
  width: 3.07291666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell79 {
  width: 3.07in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell80 {
  width: 12.27in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell81 {
  width: 11.5in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell82 {
  width: 11.5in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell83 {
  width: 2.85in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell84 {
  width: 5.44791666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell85 {
  width: 3.0625in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell86 {
  width: 11.97in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell87 {
  width: 3.06in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell88 {
  width: 11.97in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell89 {
  width: 11.9716981132075in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell90 {
  width: 3.2in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell91 {
  width: 9.57291666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell92 {
  width: 11.99in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell93 {
  width: 11.99in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell94 {
  width: 11.9905660377358in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell95 {
  width: 2.64in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell96 {
  width: 6.53125in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell97 {
  width: 2.64in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell98 {
  width: 6.53in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell99 {
  width: 6.53in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell100 {
  width: 11.92in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell101 {
  width: 11.92in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell102 {
  width: 11.9245283018868in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell103 {
  width: 3.83333333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell104 {
  width: 6.60416666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell105 {
  width: 3.83in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell106 {
  width: 6.60416666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell107 {
  width: 3.83in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell108 {
  width: 6.6in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell109 {
  width: 6.6in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell110 {
  width: 3.23584905660377in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell111 {
  width: 11.7in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell112 {
  width: 3.24in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell113 {
  width: 11.7in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell114 {
  width: 11.6981132075472in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell115 {
  width: 3.24in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell116 {
  width: 3.30208333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell117 {
  width: 6.02083333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell118 {
  width: 3.3in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell119 {
  width: 6.02083333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell120 {
  width: 3.3in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell121 {
  width: 6.02in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell122 {
  width: 6.02in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell123 {
  width: 4.52083333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell124 {
  width: 8.26041666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell125 {
  width: 4.52083333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell126 {
  width: 8.26041666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell127 {
  width: 8.26in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell128 {
  width: 4.52in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell129 {
  width: 4.52in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell130 {
  width: 8.26in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell131 {
  width: 4.03125in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell132 {
  width: 11.40625in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell133 {
  width: 11.41in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell134 {
  width: 4.03in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell135 {
  width: 4.03in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell136 {
  width: 11.41in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell137 {
  width: 11.96in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell138 {
  width: 11.96in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell139 {
  width: 11.9622641509434in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell140 {
  width: 10.8229166666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell141 {
  width: 10.8229166666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell142 {
  width: 3.625in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell143 {
  width: 11.03125in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell144 {
  width: 3.62in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell145 {
  width: 11.03125in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell146 {
  width: 3.62in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell147 {
  width: 11.03in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell148 {
  width: 4.09375in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell149 {
  width: 10.5625in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell150 {
  width: 4.09in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell151 {
  width: 10.56in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl2 {
  width: 70%;
  border-collapse: collapse;
  border-style: none;
}
.tbl2 > tbody > tr.row0 {
  border-style: none;
}
.tbl2 > tbody > tr > td.cell0 {
  width: 3.21in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl2 > tbody > tr > td.cell1 {
  width: 8.21in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl2 > tbody > tr > td.cell2 {
  width: 3.21in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl2 > tbody > tr > td.cell3 {
  width: 8.21in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 {
  width: 100%;
  border-collapse: collapse;
  border-style: none;
}
.tbl3 > tbody > tr.row0 {
  border-style: none;
}
.tbl3 > tbody > tr > td.cell0 {
  width: 3.48in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell1 {
  width: 14.3229166666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell2 {
  width: 3.47916666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell3 {
  width: 3.47916666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell4 {
  width: 14.3229166666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell5 {
  width: 2.77in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell6 {
  width: 15.28in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell7 {
  width: 2.77083333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell8 {
  width: 15.28in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell9 {
  width: 2.77in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 {
  width: 100%;
  border-collapse: collapse;
  border-style: none;
}
.tbl4 > tbody > tr.row0 {
  border-style: none;
}
.tbl4 > tbody > tr > td.cell0 {
  width: 3.80188679245283in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell1 {
  width: 11.47in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell2 {
  width: 3.80188679245283in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell3 {
  width: 11.47in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell4 {
  width: 3.8in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell5 {
  width: 3.8in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell6 {
  width: 3.08333333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell7 {
  width: 10.14in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell8 {
  width: 3.08in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell9 {
  width: 3.08in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell10 {
  width: 10.14in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.hs-mobile img.hs-fullwidth-m {
  width: 100%;
  height: auto;
  float: none;
}