p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
table.align-c {
  margin: 0 auto;
}
table.align-r {
  margin: 0 0 0 auto;
}
img {
  border: none;
}
.float-pos-l {
  float: left;
}
.float-pos-r {
  float: right;
}
.ts0 {
  font-family: 'Segoe UI';
  font-size: 18pt;
  font-weight: bold;
  color: White;
}
.ts1 {
  font-family: 'Segoe UI';
  font-size: 14pt;
  font-weight: bold;
}
.ts2 {
  font-family: 'Segoe UI';
}
.ts3 {
  font-family: 'Courier New';
}
.ts4 {
  font-family: 'Courier New';
  font-weight: bold;
}
.ts5 {
  font-family: 'Segoe UI';
  font-weight: bold;
}
.ts6 {
  font-family: 'Segoe UI';
  font-style: italic;
}
.ts7 {
  font-family: 'Segoe UI';
  font-size: 12pt;
}
.ts8 {
  font-family: 'Courier New';
}
.ts9 {
  font-family: 'Segoe UI';
  font-size: 13pt;
  font-weight: bold;
}
.ts10 {
  font-family: 'Segoe UI';
}
.ts11 {
  font-family: 'Courier New';
  font-weight: bold;
  color: Green;
}
.ts12 {
  font-family: 'Courier New';
  color: Red;
}
.ts13 {
  font-family: 'Courier New';
  color: Blue;
}
.ts14 {
  font-family: 'Courier New';
  background-color: Yellow;
}
.ts15 {
  font-family: 'Courier New';
  font-weight: bold;
  color: Green;
  background-color: Yellow;
}
.ts16 {
  font-family: 'Courier New';
  font-weight: bold;
  color: Blue;
}
.ts17 {
  font-family: 'Courier New';
  font-style: italic;
}
.ts18 {
  font-family: 'Courier New';
  font-weight: bold;
  font-style: italic;
  color: Blue;
}
.ts19 {
  font-family: 'Segoe UI';
}
.ts20 {
  font-family: 'Courier New';
  font-weight: bold;
}
.ts21 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts22 {
  font-family: 'Courier New';
}
.ts23 {
  font-family: 'Segoe UI';
  font-size: 18pt;
  font-weight: bold;
}
.ts24 {
  font-family: 'Courier New';
  color: #00b050;
}
.ts25 {
  font-family: Tahoma;
}
.ts26 {
  font-size: 12pt;
}
.ts27 {
  font-family: Consolas;
}
.ts28 {
  font-weight: bold;
}
.ts29 {
  font-family: 'Segoe UI';
  font-weight: bold;
  font-style: italic;
}
.ts30 {
  font-family: Consolas;
  color: Blue;
}
.ts31 {
  font-family: Consolas;
  color: Black;
}
.ts32 {
  font-family: Consolas;
  color: Green;
}
.ts33 {
  font-family: Consolas;
  color: #2b91af;
}
.ts34 {
  font-family: Consolas;
  font-weight: bold;
  color: #080;
}
.ts35 {
  font-family: Consolas;
  color: #a31515;
}
.ts36 {
  font-family: Consolas;
}
.ts37 {
  font-family: 'Courier New';
  color: Green;
}
.ts38 {
  font-family: Consolas;
  color: Blue;
}
.ts39 {
  font-family: Consolas;
  color: Black;
}
.ts40 {
  font-family: Consolas;
  color: #2b91af;
}
.ts41 {
  font-family: Consolas;
  font-weight: bold;
  color: #080;
}
.ts42 {
  font-family: Consolas;
  color: #2e75b6;
}
.ts43 {
  font-family: Consolas;
  color: #a31515;
}
.hs0 {
  font-family: 'Courier New';
  font-weight: bold;
  text-decoration: none;
  color: Blue;
}

.hs1 {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: Blue;
}
a.hs1:hover {
  font-family: 'Courier New';
  font-weight: bold;
}
.hs2 {
  font-family: 'Segoe UI';
  font-size: 12pt;
  text-decoration: none;
  color: Blue;
}
a.hs2:hover {
  font-family: 'Courier New';
  font-weight: bold;
}
.hs3 {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: Black;
}
a.hs3:hover {
  font-family: 'Courier New';
  font-weight: bold;
  color: Blue;
}
.hs4 {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: Blue;
}
.hs5 {
  font-family: 'Courier New';
  font-weight: bold;
  text-decoration: none;
  color: Blue;
}
.hs6 {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: Black;
}
.hs7 {
  font-family: 'Courier New';
  text-decoration: none;
  color: Blue;
}
a.hs7:hover {
  font-weight: bold;
}
.hs8 {
  font-family: 'Courier New';
  text-decoration: none;
  color: Black;
}
.hs9 {
  font-family: 'Courier New';
  text-decoration: none;
  color: #0070c0;
}
a.hs9:hover {
  font-weight: bold;
  color: Blue;
}
.ps0 {
  padding-bottom: 0.2in;
}
.ps1 {
  padding-bottom: 0.2in;
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
}
.ps2 {
  padding-bottom: 0.2in;
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
  font-size: 10pt;
}
.ps3 {
  padding-bottom: 0.2in;
  padding-left: 1.01666666666667in;
  text-indent: -0.251968503937008in;
}
.ps4 {
  padding-bottom: 0.2in;
  padding-left: 1.02083333333333in;
  text-indent: -0.251968503937008in;
}
.ps5 {
  padding-bottom: 0.2in;
  padding-left: 0.510416666666667in;
}
.ps6 {
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
}
.ps7 {
  padding-bottom: 0.1in;
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
}
.ps8 {
  font-size: 8pt;
}
.ps9 {
  padding-bottom: 0.2in;
  padding-left: 36.75pt;
}
.ps10 {
  padding-left: 36.75pt;
}
.ps11 {
  padding-bottom: 0.2in;
  padding-left: 73.5pt;
}
.ps12 {
  padding-left: 73.36pt;
}
.ps13 {
  padding-bottom: 0.2in;
  padding-left: 73.36pt;
}
.ps14 {
  padding-bottom: 0.2in;
  font-size: 11pt;
}
.ps15 {
  padding-bottom: 0.1in;
}
.ps16 {
  padding-top: 5pt;
  padding-bottom: 5pt;
}
.ps17 {
  padding-left: 36.6pt;
}
.ps18 {
  padding-left: 73.5pt;
}
.ps19 {
  padding-left: 110.25pt;
}
.ps20 {
  padding-left: 147pt;
}
.ps21 {
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
  font-size: 11pt;
}
.ps22 {
  font-size: 10pt;
}
.ps23 {
  font-size: 11pt;
}
.block0 {
  padding: 0 0 0.2in 0;
}
.block1 {
  padding: 0 0 0.2in 1.02083333333333in;
}
.block2 {
  padding: 0 0 0.1in 0;
}
.hline0 {
  width: 100%;
  height: 0px;
  margin: 8px auto;
  border-style: solid;
  border-width: 1px;
  border-top-color: DimGray;
  border-right-color: #e3e3e3;
  border-bottom-color: #e3e3e3;
  border-left-color: DimGray;
}
.hline1 {
  width: 100%;
  height: 1px;
  margin: 8px auto;
  background-color: Silver;
  border-style: none;
}
.tbl0 {
  border-collapse: collapse;
  border-style: none;
}
.tbl0 > tbody > tr.row0 {
  border-style: none;
}
.tbl0 > tbody > tr > td.cell0 {
  width: 2.36458333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell1 {
  width: 5.79166666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell2 {
  width: 2.36458333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell3 {
  width: 5.79166666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell4 {
  width: 0.979166666666667in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell5 {
  width: 2.21875in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell6 {
  width: 618px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell7 {
  width: 0.979166666666667in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell8 {
  width: 2.21875in;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell9 {
  width: 618px;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell10 {
  width: 1.5625in;
  height: 0.4375in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell11 {
  width: 300.75pt;
  height: 31.5pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell12 {
  width: 499px;
  height: 31.5pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell13 {
  width: 112.5pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell14 {
  width: 300.75pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell15 {
  width: 499px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell16 {
  width: 112.5pt;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell17 {
  width: 300.75pt;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell18 {
  width: 499px;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell19 {
  width: 249pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell20 {
  width: 115.8pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell21 {
  width: 181px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell22 {
  width: 208px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell23 {
  width: 249pt;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell24 {
  width: 115.8pt;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell25 {
  width: 181px;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell26 {
  width: 208px;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell27 {
  width: 2.375in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell28 {
  width: 1188.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell29 {
  width: 2.375in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell30 {
  width: 1188.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell31 {
  width: 171pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell32 {
  width: 3.3125in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell33 {
  width: 1121.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell34 {
  width: 3.3125in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell35 {
  width: 1121.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell36 {
  width: 238.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell37 {
  width: 238.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell38 {
  width: 2.97916666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell39 {
  width: 1145.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell40 {
  width: 2.97916666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell41 {
  width: 1145.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell42 {
  width: 214.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell43 {
  width: 214.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell44 {
  width: 1.32291666666667in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell45 {
  width: 1.5625in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell46 {
  width: 2.625in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell47 {
  width: 7.38541666666667in;
  vertical-align: top;
  padding: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell48 {
  width: 531.75pt;
  vertical-align: top;
  padding: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell49 {
  width: 4.875in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell50 {
  width: 788.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell51 {
  width: 351pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell52 {
  width: 351pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell53 {
  width: 788.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell54 {
  width: 180.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell55 {
  width: 228px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell56 {
  width: 787.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell57 {
  width: 180.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell58 {
  width: 228px;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell59 {
  width: 787.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell60 {
  width: 180.75pt;
  height: 53px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell61 {
  width: 228px;
  height: 53px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell62 {
  width: 787.5pt;
  height: 53px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell63 {
  width: 180pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell64 {
  width: 180pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell65 {
  width: 179.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell66 {
  width: 960.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell67 {
  width: 179.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell68 {
  width: 960.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell69 {
  width: 3.13541666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell70 {
  width: 1066.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell71 {
  width: 225.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell72 {
  width: 226.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell73 {
  width: 1065.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell74 {
  width: 346px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell75 {
  width: 807.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell76 {
  width: 225.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell77 {
  width: 346px;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell78 {
  width: 807.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell79 {
  width: 225pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell80 {
  width: 807pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell81 {
  width: 225pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell82 {
  width: 807pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell83 {
  width: 224.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell84 {
  width: 224.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell85 {
  width: 223.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell86 {
  width: 1069.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell87 {
  width: 223.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell88 {
  width: 1069.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell89 {
  width: 2.5in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell90 {
  width: 789pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell91 {
  width: 789pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell92 {
  width: 1.85416666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell93 {
  width: 9.29166666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell94 {
  width: 96.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell95 {
  width: 162.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell96 {
  width: 660pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell97 {
  width: 98.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl0 > tbody > tr > td.cell98 {
  width: 821.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 {
  border-collapse: collapse;
  border-style: none;
}
.tbl1 > tbody > tr.row0 {
  border-style: none;
}
.tbl1 > tbody > tr.row1 {
  height: 20px;
  border-style: none;
}
.tbl1 > tbody > tr > td.cell0 {
  width: 2.18867924528302in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell1 {
  width: 14.3018867924528in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell2 {
  width: 157.58pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell3 {
  width: 1029.74pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell4 {
  width: 209.207547169811px;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell5 {
  width: 142.64pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell6 {
  width: 9.88679245283019in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell7 {
  width: 232.754716981132px;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell8 {
  width: 209.207547169811px;
  height: 0.75in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell9 {
  width: 1.9811320754717in;
  height: 0.75in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell10 {
  width: 711.85pt;
  height: 0.75in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell11 {
  width: 232.754716981132px;
  height: 0.75in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell12 {
  width: 142.64pt;
  height: 0.75in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell13 {
  width: 2.84375in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell14 {
  width: 961.81pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell15 {
  width: 2.84375in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell16 {
  width: 961.81pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell17 {
  width: 204.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell18 {
  width: 204.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell19 {
  width: 255.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell20 {
  width: 14.25in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell21 {
  width: 255.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell22 {
  width: 14.25in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell23 {
  width: 1026pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell24 {
  width: 1026pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell25 {
  width: 2.77083333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell26 {
  width: 1100.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell27 {
  width: 2.77083333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell28 {
  width: 1100.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell29 {
  width: 199.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell30 {
  width: 199.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell31 {
  width: 3.33333333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell32 {
  width: 14.4833333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell33 {
  width: 240pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell34 {
  width: 1042.8pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell35 {
  width: 3.85416666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell36 {
  width: 1073.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell37 {
  width: 3.85416666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell38 {
  width: 1073.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell39 {
  width: 277.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell40 {
  width: 277.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell41 {
  width: 3.77083333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell42 {
  width: 14.28125in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell43 {
  width: 271.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell44 {
  width: 14.28125in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell45 {
  width: 271.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell46 {
  width: 1028.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell47 {
  width: 1028.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell48 {
  width: 3.21in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell49 {
  width: 7.5in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell50 {
  width: 231pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell51 {
  width: 231pt;
  height: 27px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell52 {
  width: 7.5in;
  height: 27px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell53 {
  width: 540pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell54 {
  width: 3.70833333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell55 {
  width: 1014.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell56 {
  width: 267pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell57 {
  width: 14.09375in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell58 {
  width: 267pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell59 {
  width: 1014.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell60 {
  width: 3.6875in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell61 {
  width: 7.02083333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell62 {
  width: 265.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell63 {
  width: 221.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell64 {
  width: 1152.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell65 {
  width: 3.07291666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell66 {
  width: 221.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell67 {
  width: 1152.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell68 {
  width: 2.85in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell69 {
  width: 5.44791666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell70 {
  width: 205.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell71 {
  width: 3.0625in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell72 {
  width: 1079.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell73 {
  width: 220.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell74 {
  width: 1079.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell75 {
  width: 14.9895833333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell76 {
  width: 230.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell77 {
  width: 9.57291666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell78 {
  width: 189.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell79 {
  width: 6.53125in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell80 {
  width: 189.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell81 {
  width: 6.53in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell82 {
  width: 470.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell83 {
  width: 470.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell84 {
  width: 3.83333333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell85 {
  width: 6.60416666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell86 {
  width: 276pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell87 {
  width: 6.60416666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell88 {
  width: 276pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell89 {
  width: 475.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell90 {
  width: 475.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell91 {
  width: 3.30208333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell92 {
  width: 6.02083333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell93 {
  width: 237.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell94 {
  width: 6.02083333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell95 {
  width: 237.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell96 {
  width: 433.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell97 {
  width: 433.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell98 {
  width: 4.52083333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell99 {
  width: 8.26041666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell100 {
  width: 4.52083333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell101 {
  width: 8.26041666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell102 {
  width: 594.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell103 {
  width: 325.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell104 {
  width: 325.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell105 {
  width: 594.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell106 {
  width: 4.03125in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell107 {
  width: 11.40625in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell108 {
  width: 821.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell109 {
  width: 290.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell110 {
  width: 290.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell111 {
  width: 821.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell112 {
  width: 3.70833333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell113 {
  width: 5.98958333333333in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell114 {
  width: 5.98958333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell115 {
  width: 431.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell116 {
  width: 3.84375in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell117 {
  width: 5.54166666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell118 {
  width: 276.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell119 {
  width: 399pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl2 {
  width: 70%;
  border-collapse: collapse;
  border-style: none;
}
.tbl2 > tbody > tr.row0 {
  border-style: none;
}
.tbl2 > tbody > tr > td.cell0 {
  width: 231pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl2 > tbody > tr > td.cell1 {
  width: 8.21in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl2 > tbody > tr > td.cell2 {
  width: 591pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl2 > tbody > tr > td.cell3 {
  width: 231pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl2 > tbody > tr > td.cell4 {
  width: 591pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 {
  width: 100%;
  border-collapse: collapse;
  border-style: none;
}
.tbl3 > tbody > tr.row0 {
  border-style: none;
}
.tbl3 > tbody > tr > td.cell0 {
  width: 3.48in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell1 {
  width: 14.3229166666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell2 {
  width: 3.47916666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell3 {
  width: 3.47916666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell4 {
  width: 14.3229166666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell5 {
  width: 2.77in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell6 {
  width: 1100.25pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell7 {
  width: 2.77083333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell8 {
  width: 1100.25pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell9 {
  width: 199.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell10 {
  width: 15.28in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell11 {
  width: 199.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell12 {
  width: 186pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell13 {
  width: 15.23in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell14 {
  width: 186pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell15 {
  width: 15.2291666666667in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell16 {
  width: 1096.5pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell17 {
  width: 1096.5pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl3 > tbody > tr > td.cell18 {
  width: 15.2291666666667in;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 {
  width: 100%;
  border-collapse: collapse;
  border-style: none;
}
.tbl4 > tbody > tr.row0 {
  border-style: none;
}
.tbl4 > tbody > tr > td.cell0 {
  width: 3.08333333333333in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell1 {
  width: 729.75pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell2 {
  width: 222pt;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell3 {
  width: 222pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl4 > tbody > tr > td.cell4 {
  width: 729.75pt;
  height: 22px;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.hs-mobile img.hs-fullwidth-m {
  width: 100%;
  height: auto;
  float: none;
}