@font-face {
  font-family: "hs-icons";
  src: url("fonts/hs-icons.eot?31888007");
  src: url("fonts/hs-icons.eot?31888007#iefix") format("embedded-opentype"), url("fonts/hs-icons.woff2?31888007") format("woff2"), url("fonts/hs-icons.woff?31888007") format("woff"), url("fonts/hs-icons.ttf?31888007") format("truetype"), url("fonts/hs-icons.svg?31888007#hs-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#hs-header-d {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#hs-header-d iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
#hs-header-d #hs-content-h {
  height: 100%;
}
#hs-header-d #hs-wrapper-h {
  display: flex;
  height: 100%;
  padding: 5px 10px;
  align-items: center;
  box-sizing: border-box;
}
#hs-header-d #hs-wrapper-h img {
  margin-right: 6px;
  max-height: 100%;
  max-width: auto;
}

.hs-nonav #hs-header-m #hs-menu {
  display: none;
}

#hs-header-m {
  overflow: hidden;
  box-sizing: border-box;
  display: none;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
#hs-header-m #hs-menu {
  cursor: pointer;
  width: 26px;
}
#hs-header-m #hs-menu span {
  display: block;
  width: 26px;
  height: 3px;
  margin-top: 5px;
  transition: opacity 0.35s ease, transform 0.35s ease;
}
#hs-header-m #hs-menu span:first-child {
  margin-top: 0;
}
.hs-menu-active #hs-menu span.line1 {
  transform: translateY(8px) rotate(45deg);
}
.hs-menu-active #hs-menu span.line2 {
  opacity: 0;
}
.hs-menu-active #hs-menu span.line3 {
  transform: translateY(-8px) rotate(-45deg);
}
.hs-menu-active #hs-header-m {
  box-shadow: none;
}

#hs-content-m {
  display: flex;
  align-items: center;
  height: 100%;
}

#hs-area-left, #hs-area-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

#hs-area-left {
  width: 60px;
}

#hs-area-right {
  padding: 8px 0;
}
#hs-area-right img {
  max-height: 100%;
  margin-right: 8px;
}

#hs-area-center {
  flex-grow: 1;
  text-align: center;
  padding: 0 10px;
}

footer {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#hs-footer {
  box-sizing: border-box;
}
#hs-footer #hs-content-f {
  height: 100%;
}
#hs-footer #hs-wrapper-f {
  display: flex;
  height: 100%;
  padding: 5px 10px;
  align-items: center;
  box-sizing: border-box;
}

#hs-nav {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 300px;
}

#hs-content {
  box-sizing: border-box;
  position: absolute;
  left: 300px;
  right: 0;
}

.hs-nonav #hs-content {
  left: 0;
}

main,
article {
  height: 100%;
}

#nsa-box {
  z-index: 10;
}

#sa-box {
  position: relative;
}

#hs-nav-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#tabs-panels {
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden;
}
#tabs-panels .hstabs-panel {
  position: relative;
  display: none;
  box-sizing: border-box;
  height: 100%;
}
#tabs-panels .hstabs-panel.hstabs-active {
  display: block;
}
#tabs-panels .hs-index-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#tabs-panels .hs-index-content #index-tree {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  padding: 4px;
}
#tabs-panels #hs-toc-panel {
  overflow: auto;
  padding: 4px;
}
#tabs-panels #toc-tree {
  position: relative;
}

#topic-content {
  height: 100%;
  overflow: auto;
}

.hs-has-nsa #topic-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: visible;
}

#frame-content {
  height: 100%;
  overflow: auto;
}
#frame-content.hs-hscrl {
  overflow: hidden;
}

#frame-content-nsa {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: visible;
}

.error-message {
  display: block;
  margin: 5px;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}

.topic-load-error-message {
  display: block;
  margin: 10px;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}

#nav-tabs {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#nav-tabs li {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  display: block;
  border-width: 1px 1px 0;
  border-style: solid solid none;
  transition: background-color 0.1s ease 0s, border-color 0.1s ease 0s;
  overflow: hidden;
  line-height: 1.3;
}
#nav-tabs li > a {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  transition: all 0.1s ease 0s;
}
#nav-tabs li > a i {
  display: block;
}
#nav-tabs li > a i:before {
  font-family: "hs-icons";
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  height: auto;
}
#nav-tabs li.hstabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px;
  transition: none;
}
#nav-tabs li.hstabs-active > a {
  transition: none;
}
#nav-tabs.hs-tab-icons li.hs-toc-tab > a i:before {
  content: "\e806";
}
#nav-tabs.hs-tab-icons li.hs-index-tab > a i:before {
  content: "\e80a";
}
#nav-tabs.hs-tab-icons li.hs-search-tab > a i:before {
  content: "\e80e";
}
#nav-tabs.hs-icon-top li > a {
  flex-direction: column;
}
#nav-tabs.hs-icon-top li > a i {
  margin-bottom: 0.2em;
}
#nav-tabs.hs-icon-left li > a {
  flex-direction: row;
}
#nav-tabs.hs-icon-left li > a i {
  margin-right: 0.3em;
}

#tabs .hs-toc-icon:before, #tabs .hs-index-icon:before, #tabs .hs-search-icon:before {
  font-family: "hs-icons";
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  height: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hs-splitting {
  cursor: e-resize;
}
.hs-splitting #hs-splitter {
  opacity: 0.8;
}

#hs-splitter {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: e-resize;
  box-sizing: border-box;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
  z-index: 100;
}
#hs-splitter:hover {
  opacity: 0.8;
}

.hs-overlay {
  display: none;
}

#kwd-search-box {
  padding: 8px 4px 6px 4px;
}

#kwd-search {
  border-width: 1px;
  border-style: solid;
  padding: 0 6px;
  margin: 4px 0 0;
  line-height: 2.3;
  height: auto;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1) inset;
}

#hs-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: #000;
  z-index: 100;
}

.hs-popup-show {
  overflow: hidden;
}

#hs-popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
}
#hs-popup-wrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#hs-popup-wrap .hs-popup-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 100%;
}
#hs-popup-wrap .hs-popup-content {
  box-sizing: border-box;
  position: relative;
  width: 580px;
  border-width: 1px;
  border-style: solid;
  background-clip: padding-box;
  margin: 0 auto;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  opacity: 0;
}
#hs-popup-wrap .hs-popup-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  opacity: 0.65;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
#hs-popup-wrap .hs-popup-close-btn:hover {
  opacity: 1;
}
#hs-popup-wrap .hs-popup-title {
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 11px 20px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
#hs-popup-wrap .hs-popup-message {
  box-sizing: border-box;
  padding: 20px 36px 20px 20px;
}
#hs-popup-wrap .hs-popup-links {
  overflow: auto;
  max-height: 250px;
  padding: 15px 20px;
}
#hs-popup-wrap .hs-popup-links ul {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}
#hs-popup-wrap .hs-popup-links li {
  padding: 0;
  margin: 0;
}
#hs-popup-wrap .hs-popup-links a {
  box-sizing: border-box;
  display: block;
  padding: 8px 12px;
  outline: none;
  transition: all 0.12s ease 0s;
}
.hs-loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.hs-loader > span {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}
.hs-loader > span::after, .hs-loader > span::before {
  content: "";
  width: 8px;
  height: 40px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}
.hs-loader > span::before {
  left: -20px;
  animation-delay: 0s;
}

.hs-notfound #content-box {
  padding: 14px;
}

@keyframes animloader {
  0% {
    height: 48px;
  }
  100% {
    height: 4px;
  }
}
#hs-search-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#search-form {
  margin: 0;
  padding: 8px 4px 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#search-box {
  display: flex;
  box-sizing: border-box;
  position: relative;
  border-width: 1px;
  border-style: solid;
  margin-top: 4px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1) inset;
}
#search-box .search-container {
  width: 100%;
}
#search-box #squery {
  padding: 0 6px;
  margin: 0;
  line-height: 2.3;
  height: auto;
  outline: none;
  width: 100%;
  border: none;
  box-sizing: border-box;
  background: none;
}
#search-box .search-btn {
  display: flex;
  width: 34px;
  min-width: 34px;
  position: relative;
  cursor: pointer;
  align-items: center;
  text-align: center;
}
#search-box .search-btn:before {
  content: "\e80e";
  font-family: "hs-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  width: 100%;
  height: auto;
  font-size: 16px;
}

#options-box {
  margin-top: 4px;
}
#options-box input[type=radio] {
  margin: 0 4px;
  vertical-align: middle;
}
#options-box .text-label {
  vertical-align: middle;
}
#options-box .text-label[for] {
  cursor: pointer;
}

#sort-result-header {
  padding: 0px 6px;
  margin-top: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
#sort-result-header #sort-control {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
#sort-result-header #sort-control:before {
  content: "\e800";
  font-family: "hs-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  display: block;
  width: 16px;
  height: 100%;
  order: 1;
}

#sorting-popup-menu {
  cursor: default;
  margin: 0;
  list-style: none;
  display: none;
  white-space: nowrap;
  z-index: 100;
  position: fixed;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
#sorting-popup-menu.pos-bottom:before {
  content: "";
  display: block;
  position: absolute;
  border-right: 11px solid transparent;
  border-bottom-width: 11px;
  border-bottom-style: solid;
  border-left: 11px solid transparent;
  top: -11px;
  right: 6px;
}
#sorting-popup-menu.pos-bottom:after {
  content: "";
  display: block;
  position: absolute;
  border-right: 10px solid transparent;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-left: 10px solid transparent;
  top: -10px;
  right: 7px;
}
#sorting-popup-menu.pos-top:before {
  content: "";
  display: block;
  position: absolute;
  border-right: 11px solid transparent;
  border-top-width: 11px;
  border-top-style: solid;
  border-left: 11px solid transparent;
  bottom: -11px;
  right: 6px;
}
#sorting-popup-menu.pos-top:after {
  content: "";
  display: block;
  position: absolute;
  border-right: 10px solid transparent;
  border-top-width: 10px;
  border-top-style: solid;
  border-left: 10px solid transparent;
  bottom: -10px;
  right: 7px;
}
#sorting-popup-menu .menu-item {
  line-height: normal;
  padding: 0.4em 2em 0.4em 0.7em;
  cursor: pointer;
  border-top-width: 1px;
  border-top-style: solid;
  position: relative;
  transition: all 0.12s ease 0s;
}
#sorting-popup-menu .menu-item:first-child {
  border-top: none;
}
#sorting-popup-menu .menu-item:before {
  font-family: "hs-icons";
  font-size: 0.9em;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 0.8em;
  width: 1em;
  text-align: center;
  position: absolute;
  display: block;
  right: 0.5em;
  top: calc(50% - 0.3em);
}
#sorting-popup-menu .menu-item.menu-item-checked:before {
  content: "\e804";
}
#search-result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#search-result #search-result-tree {
  position: relative;
  overflow: auto;
  flex-grow: 1;
  padding: 4px;
}

@media only screen and (max-width: 770px) {
  body {
    overflow: auto;
  }
  body.hs-menu-active {
    overflow: hidden;
  }
  header {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    will-change: transform;
    transition: transform 0.3s ease;
  }
  header.headroom--pinned {
    transform: translateY(0%);
  }
  header.headroom--unpinned {
    transform: translateY(-100%);
  }
  #hs-header-d {
    display: none;
  }
  #hs-header-m {
    display: block;
  }
  footer {
    display: none;
  }
  .hs-side-panel #hs-nav {
    position: fixed;
    width: 100% !important;
    left: -100%;
    opacity: 0;
    z-index: 30;
  }
  .hs-side-panel #hs-content {
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hs-side-panel.hs-nav-active #hs-nav {
    left: 0;
    opacity: 1;
  }
  .hs-side-panel80 #hs-nav {
    position: fixed;
    width: 80% !important;
    left: -80%;
    opacity: 0;
    z-index: 30;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.6);
  }
  .hs-side-panel80 #hs-content {
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hs-side-panel80.hs-nav-active #hs-nav {
    left: 0;
    opacity: 1;
  }
  .hs-slider #hs-nav {
    position: fixed;
    width: 100% !important;
    left: -100%;
    z-index: 30;
  }
  .hs-slider #hs-content {
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .hs-slider.hs-nav-active #hs-nav {
    left: 0;
  }
  .hs-slider.hs-nav-active #hs-content {
    left: 100%;
  }
  .hs-slider.hs-nav-active #nsa-box {
    left: 100%;
  }
  .hs-slider80 #hs-nav {
    position: fixed;
    width: 80% !important;
    left: -80%;
    z-index: 30;
  }
  .hs-slider80 #hs-content {
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .hs-slider80.hs-nav-active #hs-nav {
    left: 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.6);
  }
  .hs-slider80.hs-nav-active #hs-content {
    left: 80%;
  }
  .hs-slider80.hs-nav-active #nsa-box {
    left: 80%;
  }
  #hs-nav {
    bottom: 0;
  }
  #hs-splitter {
    display: none;
  }
  #topic-content {
    overflow: visible;
  }
  .hs-has-nsa #topic-content {
    display: block;
  }
  .hs-has-nsa #hs-header-m {
    box-shadow: none;
  }
  #nsa-box {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    will-change: transform;
    transition: transform 0.3s ease;
    transform: translateY(0);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  }
  #sa-box {
    overflow: visible;
  }
  .hs-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: #000;
    z-index: 20;
  }
  #nav-tabs li {
    transition: none;
  }
  #hs-popup-wrap .hs-popup-content {
    width: auto;
    margin: 12px;
  }
  .hstree-node > a .hstree-node-title {
    font-size: 1.3em;
  }
}
.hstree-has-children > a .hstree-node-btn > i {
  transition: background-color 0.3s ease 0s;
}
/* tree icons */
.hs-icons a > .hstree-node-icon > i:before {
  width: 16px;
  height: 16px;
  top: 4px;
  left: 3px;
  background: url("images/icons.gif") no-repeat -16px -16px;
}
.hs-icons .hs-book > a > .hstree-node-icon > i:before {
  background-position: 0 0;
}
.hs-icons .hs-book-o > a > .hstree-node-icon > i:before {
  background-position: -16px 0;
}
.hs-icons .hs-book.hstree-collapsed > a > .hstree-node-icon > i:before {
  background-position: 0 0;
}
.hs-icons .hs-book.hstree-expanded > a > .hstree-node-icon > i:before {
  background-position: -16px 0;
}
.hs-icons .hs-book-m > a > .hstree-node-icon > i:before {
  background-position: -32px 0;
}
.hs-icons .hs-book-om > a > .hstree-node-icon > i:before {
  background-position: -64px 0;
}
.hs-icons .hs-book-m.hstree-collapsed > a > .hstree-node-icon > i:before {
  background-position: -32px 0;
}
.hs-icons .hs-book-m.hstree-expanded > a > .hstree-node-icon > i:before {
  background-position: -48px 0;
}
.hs-icons .hs-folder > a > .hstree-node-icon > i:before {
  background-position: -64px 0;
}
.hs-icons .hs-folder-o > a > .hstree-node-icon > i:before {
  background-position: -80px 0;
}
.hs-icons .hs-folder.hstree-collapsed > a > .hstree-node-icon > i:before {
  background-position: -64px 0;
}
.hs-icons .hs-folder.hstree-expanded > a > .hstree-node-icon > i:before {
  background-position: -80px 0;
}
.hs-icons .hs-folder-m > a > .hstree-node-icon > i:before {
  background-position: -96px 0;
}
.hs-icons .hs-folder-om > a > .hstree-node-icon > i:before {
  background-position: 0 -16px;
}
.hs-icons .hs-folder-m.hstree-collapsed > a > .hstree-node-icon > i:before {
  background-position: -96px 0;
}
.hs-icons .hs-folder-m.hstree-expanded > a > .hstree-node-icon > i:before {
  background-position: 0 -16px;
}
.hs-icons .hs-topic-m > a > .hstree-node-icon > i:before {
  background-position: -32px -16px;
}
.hs-icons .hs-page > a > .hstree-node-icon > i:before {
  background-position: -48px -16px;
}
.hs-icons .hs-page-m > a > .hstree-node-icon > i:before {
  background-position: -64px -16px;
}
.hs-icons .hs-webpage > a > .hstree-node-icon > i:before {
  background-position: -80px -16px;
}
.hs-icons .hs-webpage-m > a > .hstree-node-icon > i:before {
  background-position: -96px -16px;
}
.hs-icons .hs-weblink > a > .hstree-node-icon > i:before {
  background-position: 0 -32px;
}
.hs-icons .hs-weblink-m > a > .hstree-node-icon > i:before {
  background-position: -16px -32px;
}
.hs-icons .hs-info > a > .hstree-node-icon > i:before {
  background-position: -32px -32px;
}
.hs-icons .hs-info-m > a > .hstree-node-icon > i:before {
  background-position: -48px -32px;
}
.hs-icons .hs-topiclink > a > .hstree-node-icon > i:before {
  background-position: -64px -32px;
}
.hs-icons .hs-topiclink-m > a > .hstree-node-icon > i:before {
  background-position: -80px -32px;
}
.hs-icons .hs-topicbook > a > .hstree-node-icon > i:before {
  background-position: -96px -32px;
}
.hs-icons .hs-topicbook-m > a > .hstree-node-icon > i:before {
  background-position: 0 -48px;
}
.hs-icons .hs-pagemail > a > .hstree-node-icon > i:before {
  background-position: -16px -48px;
}
.hs-icons .hs-pagemail-m > a > .hstree-node-icon > i:before {
  background-position: -32px -48px;
}
.hs-icons .hs-topicmail > a > .hstree-node-icon > i:before {
  background-position: -48px -48px;
}
.hs-icons .hs-topicmail-m > a > .hstree-node-icon > i:before {
  background-position: -64px -48px;
}
.hs-icons .hs-man > a > .hstree-node-icon > i:before {
  background-position: -80px -48px;
}
.hs-icons .hs-man-m > a > .hstree-node-icon > i:before {
  background-position: -96px -48px;
}
.hs-icons .hs-sound > a > .hstree-node-icon > i:before {
  background-position: 0 -64px;
}
.hs-icons .hs-sound-m > a > .hstree-node-icon > i:before {
  background-position: -16px -64px;
}
.hs-icons .hs-cd > a > .hstree-node-icon > i:before {
  background-position: -32px -64px;
}
.hs-icons .hs-cd-m > a > .hstree-node-icon > i:before {
  background-position: -48px -64px;
}
.hs-icons .hs-cam > a > .hstree-node-icon > i:before {
  background-position: -64px -64px;
}
.hs-icons .hs-cam-m > a > .hstree-node-icon > i:before {
  background-position: -80px -64px;
}
.hs-icons .hs-onetwo > a > .hstree-node-icon > i:before {
  background-position: -96px -64px;
}
.hs-icons .hs-onetwo-m > a > .hstree-node-icon > i:before {
  background-position: 0 -80px;
}
.hs-icons .hs-tip > a > .hstree-node-icon > i:before {
  background-position: -16px -80px;
}
.hs-icons .hs-tip-m > a > .hstree-node-icon > i:before {
  background-position: -32px -80px;
}
.hs-icons .hs-write > a > .hstree-node-icon > i:before {
  background-position: -48px -80px;
}
.hs-icons .hs-write-m > a > .hstree-node-icon > i:before {
  background-position: -64px -80px;
}
.hs-icons .hs-opt > a > .hstree-node-icon > i:before {
  background-position: -80px -80px;
}
.hs-icons .hs-opt-m > a > .hstree-node-icon > i:before {
  background-position: -96px -80px;
}

.hs-icons-c a > .hstree-node-icon > i:before {
  width: 16px;
  height: 16px;
  top: 4px;
  left: 3px;
}
.hs-icons-c.hs-icon20 a > .hstree-node-icon > i:before {
  width: 20px;
  height: 20px;
  top: 1px;
  left: 1px;
}

@media print {
  header, nav, footer {
    display: none !important;
  }
  #hs-content {
    top: 0 !important;
    left: 0 !important;
    bottom: auto !important;
    right: auto !important;
  }
}