.hstree-has-children > a .hstree-node-btn > i:before {
  color: #333;
}
.hstree-has-children > a .hstree-node-btn > i:hover:before {
  color: #1cc4f7;
}
.hstree-has-children > a .hstree-node-btn > i:hover {
  background-color: transparent;
}
#hs-popup-wrap .hs-popup-content {
  background-color: White;
  border-color: #aeaeae;
}
#hs-popup-wrap .hs-popup-close-btn {
  color: Black;
}
#hs-popup-wrap .hs-popup-title {
  border-bottom-color: White;
  font-family: 'Segoe UI',Roboto,Helvetica,Arial;
  font-size: 14pt;
  color: #525252;
  background-color: #dcdce5;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#hs-popup-wrap .hs-popup-content {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 14px;
}
#hs-popup-wrap .hs-popup-message {
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#hs-popup-wrap .hs-popup-links a {
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#hs-popup-wrap .hs-popup-links a:focus {
  color: #333;
  background-color: #e9f1f5;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#hs-popup-wrap .hs-popup-links a:hover {
  color: White;
  background-color: #2d87e2;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
.text-label {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 12px;
  color: #222;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#tabs-panels .hstabs-panel {
  background: none 0 0 White;
}
#sorting-popup-menu {
  background-color: White;
  border-color: #aeaeae;
}
#sorting-popup-menu.pos-bottom:before {
  border-bottom-color: #aeaeae;
}
#sorting-popup-menu.pos-bottom:after {
  border-bottom-color: White;
}
#sorting-popup-menu.pos-top:before {
  border-top-color: #aeaeae;
}
#sorting-popup-menu.pos-top:after {
  border-top-color: White;
}
#sorting-popup-menu .menu-item {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 14px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  border-top-color: #e2e2e2;
}
#sorting-popup-menu .menu-item:hover {
  color: White;
  background-color: #2d87e2;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-box .search-btn {
  background-color: #2d87e2;
}
#search-box .search-btn:before {
  color: White;
}
.hs-btn-r.hs-ani .hstree-has-children > a .hstree-node-btn > i:before {
  transition: transform 200ms ease 0s, color 0.3s ease 0s;
}
#toc-tree .hstree-node > a .hstree-node-title {
  padding: 4px 2px;
}
#toc-tree .hstree-node > a {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 13px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  border-radius: 0px;
  border-top: 1px hidden Black;
  border-right: 1px hidden Black;
  border-bottom: 1px hidden Black;
  border-left: 1px hidden Black;
}
#toc-tree .hstree-node > a:hover {
  color: #333;
  background-color: #e9f1f5;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree .hstree-node > a:focus {
  color: #333;
  background-color: #e9f1f5;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree .hstree-node.hstree-active > a {
  color: White;
  background-color: #2d87e2;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree .hstree-node > a .hstree-node-title {
  padding: 4px 2px;
}
#index-tree .hstree-node > a {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 13px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  border-radius: 0px;
  border-top: 1px hidden Black;
  border-right: 1px hidden Black;
  border-bottom: 1px hidden Black;
  border-left: 1px hidden Black;
}
#index-tree .hstree-node.hs-highlight > a {
  color: #333;
  background-color: #eee;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree .hstree-node > a:hover {
  color: #333;
  background-color: #e9f1f5;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree li.hstree-node > a:focus {
  color: #333;
  background-color: #e9f1f5;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree li.hstree-node.hstree-active > a {
  color: White;
  background-color: #2d87e2;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree .hstree-node > a .hstree-node-title {
  padding: 4px 2px;
}
#search-result-tree .hstree-node > a {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 13px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  border-radius: 0px;
  border-top: 1px hidden Black;
  border-right: 1px hidden Black;
  border-bottom: 1px hidden Black;
  border-left: 1px hidden Black;
}
#search-result-tree li.hstree-node.visited-topic > a {
  color: Gray;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}
#search-result-tree .hstree-node > a:hover {
  color: #333;
  background-color: #e9f1f5;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree .hstree-root li.hstree-node > a:focus {
  color: #333;
  background-color: #e9f1f5;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree .hstree-root li.hstree-node.hstree-active > a {
  color: White;
  background-color: #2d87e2;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-form {
  border-bottom-color: #ddd;
}
#search-result span.se-message {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 12px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}
#hs-header-d {
  height: 40px;
}
#hs-nav, #hs-content {
  top: 40px;
}
#hs-title-h {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 14pt;
  color: White;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#hs-wrapper-h {
  justify-content: left;
}
#hs-content-h {
  background: none 0 0 #69c;
}
#hs-footer {
  height: 30px;
}
#hs-nav, #hs-content {
  bottom: 30px;
}
#hs-title-f {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 8pt;
  color: White;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#hs-wrapper-f {
  justify-content: left;
}
#hs-content-f {
  background: none 0 0 #69c;
}
@media only screen and (max-width: 770px) {
  #hs-header-m {
    height: 50px;
  }
  .hs-side-panel #hs-nav, .hs-side-panel #hs-content,.hs-side-panel80 #hs-nav, .hs-side-panel80 #hs-content,.hs-slider #hs-nav, .hs-slider #hs-content,.hs-slider80 #hs-nav, .hs-slider80 #hs-content,#nsa-box {
    top: 50px;
  }
  .hs-nsa-top #nsa-box {
    transform: translateY(-50px);
  }
  #hs-content-m {
    background: none 0 0 #2d87e2;
  }
  #hs-title-m {
    font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 16pt;
    color: White;
    background-color: transparent;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
  }
  #hs-header-m #hs-menu span {
    background-color: White;
  }
}
#hs-splitter {
  width: 4px;
  background: none 0 0 #ddd;
}
#nav-tabs {
  padding: 0px 0 0 0px;
  border-bottom-color: #d0d0d0;
  background: none 0 0 #f9f9f9;
}
#nav-tabs li {
  margin: 0 0px 0 0;
}
#nav-tabs li > a {
  padding: 7px 18px;
}
#nav-tabs li {
  border-radius: 0px 0px 0 0;
}
#nav-tabs li {
  border-color: #f3f3f3;
  background: none 0 0 #f3f3f3;
}
#nav-tabs li:hover:not(.hstabs-active) {
  border-color: #2d87e2;
  background: none 0 0 #2d87e2;
}
#nav-tabs li.hstabs-active {
  border-color: White;
  background: none 0 0 White;
}
#nav-tabs {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 14px;
}
#nav-tabs li > a {
  color: #595959;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#nav-tabs li:hover:not(.hstabs-active) > a {
  color: White;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#nav-tabs li.hstabs-active > a {
  color: #2d87e2;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#kwd-search, #search-box {
  border-color: #2d87e2;
}
#kwd-search {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 12px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#squery {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 12px;
  color: #333;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-box {
  background-color: transparent;
}
#hs-nav-content {
  border-right: 1px solid #d4d4d4;
}
.hs-loader > span, .hs-loader > span:after, .hs-loader > span:before {
  background-color: #e5e5e5;
}
.hs-index-page {
  background-color: White;
}