ul.hstree-root {
	padding: 0;
	margin: 0;
}
.hstree-root ul {
	padding: 0;
	margin: 0;
	display: none;
}
ul.hstree-root li {
	list-style-type: none;
	display: block;
	margin: 0 0 0 22px;
	padding: 0;
	background: url("images/tree-sprites.png") repeat-y -110px 0;
}
ul.hstree-root > li {
	margin-left: 0;
}
.hstree-node-btn {
	vertical-align: middle;
	display: table-cell;
	width: 22px;
	min-width: 22px;
	overflow: hidden;
}
.hstree-node-btn > i {
	display: block;
	width: 22px;
	height: 22px;
	position: relative;
	overflow: hidden;
}
.hstree-node-btn > i:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("images/tree-sprites.png") no-repeat -44px 0;
}
.hstree-collapsed > .hstree-node-btn > i:before {
	background-position: -66px 0;
}
.hstree-expanded > .hstree-node-btn > i:before {
	background-position: -88px 0;
}
.hstree-has-children > .hstree-node-btn {
	cursor: pointer;
}
ul.hstree-root .hstree-node.hstree-last {
	background: none;
}
.hstree-node-cnt {
	vertical-align: middle;	
	display: table-cell;
}
.hstree-node-cnt-w {
	display: table;
}
.hstree-node-icon {
	vertical-align: middle;	
	display: table-cell;
}
.hstree-node-icon i {
	display: block;
	width: 22px;
	height: 22px;
	min-width: 22px;
	position: relative;
}
.hstree-node-icon i:before {
	content: "";
	position: absolute;
	width: 22px;
	height: 22px;
	top: 0;
	left: 0;
	background: url("images/tree-sprites.png") 0 -22px no-repeat;
}
.hstree-node-title {
	vertical-align: middle;	
	display: table-cell;
}
.hstree-node-title > a {
	display: inline-block;
	padding: 1px 3px 2px;
	outline: none;
	text-decoration: none;
}
.hstree-node .hstree-node-title > a:hover {
	background-color: #e9f1f5;
}
.hstree-node .hstree-node-title > a:focus {
	background-color: #e9f1f5;
}
.hstree-node.hstree-active > .hstree-node-cnt .hstree-node-title > a {
	background-color: #2d87e2;
	color: #fff;
}