ul.hstree-root {
  padding: 0;
  margin: 0;
}
ul.hstree-root li {
  list-style-type: none;
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul.hstree-root ul {
  display: none;
  padding: 0;
  margin: 0 0 0 22px;
}
ul.hstree-root a {
  display: flex;
  color: #333;
  font: 10pt "Segoe UI", Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  transition: background-color 0.1s ease 0s, border-color 0.1s ease 0s;
}
ul.hstree-root a:hover {
  background-color: #f7f7f7;
}

.hstree-node-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hstree-node-btn > i {
  display: block;
  width: 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.4s ease 0s;
}
.hstree-node-btn > i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hstree-btn-rgt .hstree-node-btn {
  order: 1;
  flex-grow: 1;
}
.hstree-btn-rgt .hstree-node-icon > i {
  margin-left: 4px;
}

.hstree-has-children .hstree-node-btn > i {
  cursor: pointer;
  border-radius: 50%;
}
.hstree-has-children .hstree-node-btn > i:before {
  position: absolute;
  color: #333;
  font-family: "hs-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transition: color 0.2s ease 0s;
}
.hstree-has-children > a .hstree-node-btn > i:hover {
  background-color: #e8e8e8;
}

.hstree-node-icon {
  display: flex;
  align-items: center;
}
.hstree-node-icon > i {
  display: block;
  width: 22px;
  height: 22px;
  position: relative;
}
.hstree-node-icon > i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hstree-node-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

li.hstree-node > a:focus {
  background-color: #f7f7f7;
}
li.hstree-node.hstree-active > a {
  background-color: #f2f2f2;
}

.hstree-nowrap .hstree-node-title {
  white-space: nowrap;
}

.hstree-btn-lrg li.hstree-node .hstree-node-btn > i {
  width: 32px;
  height: 32px;
}

.hs-btn-r .hstree-collapsed > a .hstree-node-btn > i:before {
  transform: rotate(0) translate(0, 0);
}
.hs-btn-r .hstree-expanded > a .hstree-node-btn > i:before {
  transform: rotate(90deg) translate(0, 0);
}
.hs-btn-corners .hstree-has-children > a .hstree-node-btn > i:before {
  content: "\e801";
  top: 7px;
  left: 3px;
  font-size: 9px;
}
.hs-btn-corners.hs-btn-r .hstree-has-children > a .hstree-node-btn > i:before {
  transform-origin: 8px 4px;
}
.hs-btn-corners.hstree-btn-lrg .hstree-has-children > a .hstree-node-btn > i:before {
  top: 13px;
  left: 3px;
  font-size: 10px;
}
.hs-btn-corners.hstree-btn-lrg.hs-btn-r .hstree-has-children > a .hstree-node-btn > i:before {
  transform-origin: 13px 4px;
}

.hs-btn-triangles .hstree-has-children > a .hstree-node-btn > i:before {
  content: "\e805";
  top: 5px;
  left: 2px;
  font-size: 14px;
}
.hs-btn-triangles.hs-btn-r .hstree-has-children > a .hstree-node-btn > i:before {
  transform-origin: 9px 7px;
}
.hs-btn-triangles.hstree-btn-lrg .hstree-has-children > a .hstree-node-btn > i:before {
  top: 8px;
  left: 2px;
  font-size: 16px;
}
.hs-btn-triangles.hstree-btn-lrg.hs-btn-r .hstree-has-children > a .hstree-node-btn > i:before {
  transform-origin: 14px 8px;
}

.hs-btn-plusminus .hstree-has-children > a .hstree-node-btn > i:before {
  content: "\e802";
  top: 8px;
  left: 1px;
  font-size: 10px;
}
.hs-btn-plusminus .hstree-has-children.hstree-expanded > a .hstree-node-btn > i:before {
  content: "\e803";
}
.hs-btn-plusminus.hstree-btn-lrg .hstree-has-children > a .hstree-node-btn > i:before {
  top: 11px;
  left: 1px;
  font-size: 11px;
}

.hs-btn-plusminus-s .hstree-has-children > a .hstree-node-btn > i:before {
  content: "\f196";
  top: 7px;
  left: 1px;
  font-size: 11px;
}
.hs-btn-plusminus-s .hstree-has-children.hstree-expanded > a .hstree-node-btn > i:before {
  content: "\f147";
}
.hs-btn-plusminus-s.hstree-btn-lrg .hstree-has-children > a .hstree-node-btn > i:before {
  top: 10px;
  left: -1px;
  font-size: 14px;
}