<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HarmonyCoreGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HarmonyCoreGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HarmonyCoreGenerator.Properties.Settings>
            <setting name="LastSolution" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSmcFile" serializeAs="String">
                <value />
            </setting>
        </HarmonyCoreGenerator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HarmonyCoreGenerator.Properties.Settings>
            <setting name="ServicesFolder" serializeAs="String">
                <value>Services</value>
            </setting>
            <setting name="ServicesProject" serializeAs="String">
                <value>Services.synproj</value>
            </setting>
            <setting name="ControllersFolder" serializeAs="String">
                <value>Services.Controllers</value>
            </setting>
            <setting name="ControllersProject" serializeAs="String">
                <value>Services.Controllers.synproj</value>
            </setting>
            <setting name="HostFolder" serializeAs="String">
                <value>Services.Host</value>
            </setting>
            <setting name="HostProject" serializeAs="String">
                <value>Services.Host.synproj</value>
            </setting>
            <setting name="IsolatedFolder" serializeAs="String">
                <value>Services.Isolated</value>
            </setting>
            <setting name="IsolatedProject" serializeAs="String">
                <value>Services.Isolated.synproj</value>
            </setting>
            <setting name="ModelsFolder" serializeAs="String">
                <value>Services.Models</value>
            </setting>
            <setting name="ModelsProject" serializeAs="String">
                <value>Services.Models.synproj</value>
            </setting>
            <setting name="TestFolder" serializeAs="String">
                <value>Services.Test</value>
            </setting>
            <setting name="TestProject" serializeAs="String">
                <value>Services.Test.synproj</value>
            </setting>
            <setting name="HarmonyCoreProjectFileExtension" serializeAs="String">
                <value>.hcproj</value>
            </setting>
            <setting name="CodeGenProjectFileExtension" serializeAs="String">
                <value>.codegen</value>
            </setting>
            <setting name="RepositoryMainFile" serializeAs="String">
                <value>rpsmain.ism</value>
            </setting>
            <setting name="RepositoryTextFile" serializeAs="String">
                <value>rpstext.ism</value>
            </setting>
            <setting name="RepositoryFolder" serializeAs="String">
                <value>Repository</value>
            </setting>
            <setting name="UserTokenFile" serializeAs="String">
                <value>UserDefinedTokens.tkn</value>
            </setting>
            <setting name="TemplatesFolder" serializeAs="String">
                <value>Templates</value>
            </setting>
            <setting name="WindowTitle" serializeAs="String">
                <value>Harmony Core Generator</value>
            </setting>
            <setting name="RepositoryProject" serializeAs="String">
                <value>Repository.synproj</value>
            </setting>
            <setting name="TraditionalBridgeFolder" serializeAs="String">
                <value>TraditionalBridge</value>
            </setting>
            <setting name="TraditionalBridgeProject" serializeAs="String">
                <value>TraditionalBridge.synproj</value>
            </setting>
        </HarmonyCoreGenerator.Properties.Settings>
    </applicationSettings>
</configuration>
